@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.SearchPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
} 
<html>
    <head>
        <title>Search Page</title>
        <link rel="stylesheet" href="css/style.css"/>
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <div class="search-container">
  <input type="text" id="search-input" placeholder="Type your search term here...">
  <ul id="search-results"></ul>
</div>
    </body>
   <script src="/scripts/functions.js"></script>
</html>
